/* ------------------ styling modal form ---------------------------*/
.modal-content {
    background: #48536f;
    border-radius: 0;
}
form.new-account {
    text-align: left;
    vertical-align: top;
}
.basic-field,
.additional-options {
    vertical-align: top;
}
.new-account input,
.new-account select {
    display: inline-block;
    color:#555;
    width: 90%;
    padding: 7px;
    margin: 7px 0;
    border-radius: 5px;
}
#pay-method {
    margin-top: 12px;
}
.new-account label{
  display: block;
}
.new-account input[type=submit] {
    margin-left: 15px;
    color: #fff;
    border: 2px solid #888;
    background: none;
    width: 40%;
}
.new-account input[type=submit]:hover {
    cursor: pointer;
    background: #af23f9;
    border-color: #af23f9;
}