html body,h1,h2,h3,h4,h5,h6,p,ul,li,a {
    font-family: "Lato",Calibri,sans-serif;
    font-size: 14px;
    color:#fff;
}

header {
    background: url("../images/background.png") no-repeat left;
    background-size: cover;
    position: relative;
    height: 300px;
}
div#logo {
    padding: 20px 40px;
    display: inline-block;
}
div#search {
    float: right;
    display: inline-block;
    border: 2px solid #333333;
    position: relative;
    top:20px;
    right: 20px;
    background: #ffffff;
}
div#search:after {
    clear: both;
    content: "";
    display: table;
}
#search input[type=text] {
    width: 80%;
    outline: none;
    padding: 6px 0 6px 8px;
    font-size: 1.1em;
    color: #333333;
    position: relative;
    border: none;
}
#search input[type=submit] {
    color: #000;
    font-size: 1.3rem;
    background: #ffffff;
}
.fa-input {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header h1 {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    padding:1rem 2rem;
}
/* ---------- top menu -----------------------------   */
nav {
    background: rgba(81, 102, 124, 0.3);
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
ul#topmenu li {
    display: inline-block;
    padding: 10px 20px;
    color: #ccc;
    font-weight: 900;
}
ul#topmenu li:hover {
    color: #fff;
    background: #333333;
}
ul#topmenu li a,a:visited,a:focus {
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
/*------------------------------ end topmenu --------------- */

/*------------------------- main ----------------------------*/
main {
    background: #cccccc;
}
main> section {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
}
article>h3,p {
    color:#aba198;
}
section>article {
    background: #ffffff;
    margin-bottom: 1rem;
    width: 45%;
    border-radius: 10px;
}
article>h3 {
    background: #4f657a;
    padding: 1rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;

}
article>p {
  padding: 1rem;
}
/*------------------------------ footer  --------------- */
footer {
    background: #0b083b;
    text-align: center;
}
footer>div.content {
    font-family: "Lato", Calibri, sans-serif;
    display: inline-block;
    width: 18%;
    padding: 1rem 0;
    text-align: left;
    vertical-align: top;
}
.content h3 {
    padding: 1rem 0;
    font-size: 1.1rem;
    font-weight: 900;
    color: #aba198;
}
.content li{
    padding: 0.2rem 0;
}
.content a,a:visited,a:focus {
    color:inherit;
    text-decoration: none;
}
.social li {
    margin: 1rem 0 1.2rem;
    display: inline-block;
    padding: 0 0.2rem;
    font-size: 1.2rem;
}
.social li:hover {
    color: #ff8214;
}
.copyright p{
    color: #aba198;
    padding-top: 0.6rem;
}
